{% extends "site_base.html" %}

{% load biblion_tags %}

{% block body_id %}blog{% endblock %}

{% block main_content %}
    <div class="blog-content">
        <div class="main">
            {% block blog_content %}{% endblock %}
        </div>
        <aside class="sidebar">
            <div class="blog-sections">
                {% blog_sections as sections %}
                <h4>Categories</h4>
                <hr />
                <ul>
                {% for section in sections %}
                    {% ifequal section.0 "all" %}
                        <li><a href="{% url blog %}">{{ section.1 }}</a></li>
                    {% else %}
                        <li><a href="{% url blog_section section.0 %}">{{ section.1 }}</a></li>
                    {% endifequal %}
                {% endfor %}
                </ul>
            </div>
            <div class="blog-sections">
                {% latest_blog_posts as recent_posts %}
                <h4>Recent Posts</h4>
                <hr />
                <ul>
                {% for post in recent_posts %}
                    <li><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></li>
                {% endfor %}
                </ul>
            </div>
            <div class="blog-sections">
                <p><b>Pinax</b> is an open-source platform built on the Django Web Framework.</p>
                
                <p>By integrating numerous reusable Django apps and providing starter projects and infrastructure tools, Pinax takes care of the things that many sites have in common so you can focus on what makes your site different.</p>
                
                <p>Pinax has been used for everything from social networks to conference websites, and from intranets to online games.</p>
            </div>
        </aside>
    </div>
{% endblock %}
